<!DOCTYPE html>
<html lang="es-CL">
    {% load pwa %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reestablecer contraseña</title>
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
</head>
{% progressive_web_app_meta %}
<body>
    <!-- Navegación -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url "index" %}">
                <img src="{% static "img/logo.png" %}" alt="logo" id="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "index" %}">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#prontoModal">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#prontoModal">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "contactanos" %}">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "galeria" %}">Galería</a>
                    </li>
                    {% if user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "registro" %}">Registro</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item" id="credenciales">
                        <a class="nav-link">Bienvenido {{user}}</a>
                    </li>
                    {% load socialaccount %}
                    <li class="nav-item" id="credenciales">
                        <a class="nav-link" href="{% url 'account_logout' %}" onclick="return confirm('¿Está seguro que desea cerrar sesión?')">Cerrar sesión</a>
                    </li>
                    {% else %} 
                    <li class="nav-item" id="credenciales">
                        <a class="nav-link" href=# data-toggle="modal" data-target="#inicioSesion">Iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

{% load crispy_forms_tags %}
    <div class="content-section center">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reestablecer contraseña</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Cambiar contraseña</button>
            </div>
        </form>
    </div>

<!-- Footer -->
<footer class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>Desarrollo Web y Mobile.</p>
            </div>
        </div>
        <br>
        <br>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="prontoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">En construcción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Estamos trabajando para usted.</p>
                    <br>
                    <p>Módulos disponibles: Inicio, Contáctanos, Galería y Registro.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_anonymous %}
    <!-- Modal Login -->
    <div class="modal fade" id="inicioSesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="form-signin" action="{% url "loginIniciar" %}">
                        {% csrf_token %}
                        <label for="inputEmail"  class="sr-only">Correo</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correo" required autofocus><br>
                        <label for="inputPassword" class="sr-only">Contraseña</label>
                        <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required><br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                        <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                    </form>
                    <br>
                    <p class="text-center">-- O inicia sesión con --</p>
                    {% load socialaccount %}
                    <p class="text-center"><a href="{% provider_login_url 'google' %}"><i class="fab fa-google 2x btn-lg btn-primary"></i></a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Cargar scripts -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>